* {
  font-family: 'DM Sans', sans-serif;
}

/* Header */

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.44rem;
  padding: 0 12%;
  background-color: white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  font-family: Verdana, sans-serif;
  font-size: .77rem;
  font-weight: bold;
}

h1 {
  color: #0f4ea4;
}


p, 
li {
  font-size: 18px;
}


a {
  text-decoration: none;
}
